
.btnSortear {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 6rem;
    background-color: var(--neutral-black);
    border: 5px solid var(--primary-color);
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.5s ease-in;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.btnSortear:hover {
    background-color: var(--primary-color);
    color: var(--neutral-white);
    box-shadow: 0px 0px 10px black;
    scale: 105%;
    border: 5px solid var(--neutral-white);
}

.btnSortear:active {
    transition: none;
    background-color: var(--secondary-hover-color);
}

@media (max-width: 768px) {
    .btnSortear:active {
        transition: none;
        color: var(--neutral-white);
        background-color: var(--neutral-background-black);
    }
}
